.footer {
  background-color: $footer-bcg-color;
}
.container-footer {
  
  padding-top: 60px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
 
  border-bottom: 1px Solid rgba(255, 255, 255, 0.1);
  @media screen and (min-width:1200px) {
    padding-bottom: 60px;
    
      display: flex;
     align-items: baseline;
      // justify-content: space-between;
    
  }
 
}

.adress {
  
  @media screen and (max-width:767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;}
    @media screen and (min-width:1200px) {
      margin-right: 69px;
      
    }
   
    
  
}
.logo {
  
  @media screen and (max-width:767px) {
    margin-bottom: 20px
    
  }
  @media screen and (min-width:1200px) {
    margin-bottom: 10px;
    
  }
}

.logo-foot {
  @extend %list;
  text-align: center;
  @media screen and (min-width:768px) and (max-width:1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width:1200px){
    text-align: left;
  }

}
.footer-logo {
  @extend %links;
  font-style: normal;
  font-family: $logo-font;
  color: $logo-text-color;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.19;

  
}

.span {
  color: $primary-bcg-color;
}
.logotip{
  margin-bottom: 20px;
  @media screen and (max-width:1199px) {
    
    text-align: center;
  }

}