.section-hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../image/Header.jpg');
  background-color: #00ff00;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
      
  @media screen and (min-divice-pixel-ratio: 1) and (min-width:480px), 
    
  screen and (-webkit-min-device-pixel-ratio: 1)and (min-width:480px) ,
  screen and (-o-min-device-pixel-ratio: 1) and (min-width:480px),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) { 
   
    background-image:linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ), url('../image/hero/Header-mob.jpg');
  }

  @media screen and (min-divice-pixel-ratio:2 ) and (min-width:480px), 
    
  screen and (-webkit-min-device-pixel-ratio: 2)and (min-width:480px),
  screen and (-o-min-device-pixel-ratio: 2) and (min-width:480px),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) { 
   
    background-image:linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ), url('../image/hero/Header-mob@2x.jpg');
  }
  
  @media screen and (min-divice-pixel-ratio: 1) and (min-width:768px), 
    
  screen and (-webkit-min-device-pixel-ratio: 1)and (min-width:768px),
  screen and (-o-min-device-pixel-ratio: 1) and (min-width:768px),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) { 
   
    background-image:linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ), url('../image/hero/Header-tablet.jpg');
  }

    
  @media screen and (min-divice-pixel-ratio: 2) and (min-width:768px), 
    
  screen and (-webkit-min-device-pixel-ratio: 2)and (min-width:768px) ,
  screen and (-o-min-device-pixel-ratio: 2) and (min-width:768px),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) { 
   
    background-image:linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ), url('../image/hero/Header-tablet@2x.jpg');
  }
  @media screen and (min-divice-pixel-ratio: 1) and (min-width:1200px), 
    
  screen and (-webkit-min-device-pixel-ratio: 1)and (min-width:1200px) ,
  screen and (-o-min-device-pixel-ratio: 1) and (min-width:1200px),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) { 
   
    background-image:linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ), url('../image/hero/Header-desktop.jpg');
  }

  @media screen and (min-divice-pixel-ratio: 2) and (min-width:1200px), 
    
  screen and (-webkit-min-device-pixel-ratio: 2)and (min-width:1200px) ,
  screen and (-o-min-device-pixel-ratio: 2) and (min-width:1200px),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) { 
   
    background-image:linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ), url('../image/hero/Header-desktop@2x.jpg');
  }
  }
  
  

.hero-title {
  @extend %list;
  padding-top: 200px;
  margin-bottom: 30px;

  /* height: 120px; */
  text-align: center;
  color: $primary-bcg-color;
  font-family: $primary-font;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;

  @media screen and (max-width:1199px) {
    padding-top: 118px;
    
    font-size: 26px;
  line-height: 1.61;
  letter-spacing: 6%;

    
  }
}
