// body {
//   background-color: $primary-bcg-color;
//   color: $primary-text-color;
//   font-family: $primary-font, $secondary-font;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 3%;
//   margin: 0;
// }

// a {
//   text-decoration: none;
// }

// div {
//   padding: 0;
//   margin: 0;
// }
%list {
  list-style: none;
  padding: 0;
  margin: 0;
}
%links {
  text-decoration: none;
}
%block {
  padding: 0;
  margin: 0;
}
