// colors
$primary-text-color: #757575;
$title-text-color: #212121;
$logo-text-color: #2196f3;
$primary-bcg-color: #ffffff;
$bgc-section: rgba(47, 48, 58, 0.8);
$footer-bcg-color: #2f303a;
$section-bgc-color: #f5f4fa;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$footer-developed-color: rgba(255, 255, 255, 0.4);
$logotype-color: #afb1b8;

// Fonts
$primary-font: roboto;
$secondary-font: sans-serif;
$logo-font: raleway;
